{% load static %}<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    <header>
			<div class="container">
				<div style="font-family: JuliusSansOne-Regular; font-size: 300%;"><b>Sara Abyar</b></div>
				<br>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#projects">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#cv">CV/Resume</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#contact">Contact</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div id="home" class="container tab-pane active"><br>
						<h3>HOME</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div id="projects" class="container tab-pane fade"><br>
						<h3>PROJECTS</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div id="about" class="container tab-pane fade"><br>
						<h3>ABOUT</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
					<div id="cv" class="container tab-pane fade"><br>
						<h3>CV/RESUME</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
					<div id="contact" class="container tab-pane fade"><br>
						<h3>CONTACT</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
				</div>
			</div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
